/* <weight>: Use a value from 100 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */

.big-shoulders-stencil-<uniquifier> {
    font-family: "Big Shoulders Stencil", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

.header {
    background-color: black;
    color: white;
}

.mainHeadline {
    font-size: 3rem;
    font-weight: 900;
    font-family: 'Big Shoulders Stencil', sans-serif;
}

.languages {
    border-style:groove;
    border-width: 2px;
    border-color: black;
    background-color: #ff80ff;
    box-shadow:10px 10px;
}

.languages:hover {
    background-color: #cc00cc;
    color:white;
    box-shadow:10px 10px;
}

.programing {
    border-style:groove;
    border-width: 2px;
    border-color: black;
    background-color: #00cc66;
    box-shadow:10px 10px;
}

.programing:hover {
    background-color: #00994d;
    color:white;
    box-shadow:10px 10px;
}